<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>unkai.misato.Tweet</string>
        <key>ProgramArguments</key>
        <array>
                <string>/usr/local/bin/python3</string>
                <string>/users/uchukamen/Desktop/Python/Unkai_misato/tweet.py</string>
        </array>

	<key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>10</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
    </array>
        <key>StandardErrorPath</key>
        <string>/users/uchukamen/launchd/unkai.misato/err_tweet.txt</string>
        <key>StandardOutPath</key>
        <string>/users/uchukamen/launchd/unkai.misato/out_tweet.txt</string>
        <key>UserName</key>
        <string>uchukamen</string>
        <key>WorkingDirectory</key>
        <string>/users/uchukamen/launchd</string>
</dict>
</plist>

